# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# [39170 rows x 11 columns]>
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [177]:
#Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())

#Calculate the total number of students
total_students = school_data_complete["student_name"].count()

#Calculate the total budget
total_budget = school_data_complete.groupby(['school_name'])["budget"].unique().sum()

# Calculate the average math score
avg_math = round( (school_data_complete['math_score'].sum() / total_students), 6)

# Calculate the average reading score
avg_reading = round( (school_data_complete['reading_score'].sum() / total_students), 6 )

# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = round ((avg_math + avg_reading) /2, 6)

# Calculate the percentage of students with a passing math score (70 or greater)
math_70 = [ mathscore for mathscore in school_data_complete['math_score'] if mathscore >= 70]
passing_math = round (len(math_70) / total_students * 100, 6)

# Calculate the percentage of students with a passing reading score (70 or greater)
reading_70 = [ readscore for readscore in school_data_complete['reading_score'] if readscore >= 70]
passing_reading = round  (len(reading_70) / total_students * 100, 6)

In [179]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({
                                    "Total Schools" : school_count,
                                    "Total Students" : total_students,
                                    "Total Budget" : total_budget,
                                    "Average Math Score" : avg_math,
                                    "Average Reading Score" : avg_reading,
                                    "% Passing Math" : passing_math,
                                    "% Passing Reading" : passing_reading,
                                    "% Overall Passing Rate" : overall_passing_rate        
                                    })
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("$ {:,}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$ 24,649,428",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [185]:
#initial list of schools names and types 
schoolname_group_by_df = school_data_complete.groupby(['school_name', 'type'])

#Total Students 
student_count = schoolname_group_by_df["student_name"].count()

#Total School Budget 
total_budget_per_school = schoolname_group_by_df["budget"].mean()

#Per Student Budget
school_budget_per_student = schoolname_group_by_df["budget"].mean()/schoolname_group_by_df["student_name"].count()

#Average Math Score
mean_math_score = schoolname_group_by_df["math_score"].mean()

#Average Reading Score
mean_reading_score = schoolname_group_by_df["reading_score"].mean()

#% Passing Math
passing_math_total_df = school_data_complete.loc[(school_data_complete["math_score"]>=70),:]
passing_math_total_groupby = passing_math_total_df.groupby(['school_name','type'])
passing_math = passing_math_total_groupby["student_name"].count()/schoolname_group_by_df["student_name"].count() * 100

#% Passing Reading
passing_reading_total_df = school_data_complete.loc[(school_data_complete["reading_score"]>=70),:]
passing_reading_total_groupby = passing_reading_total_df.groupby(['school_name','type'])
passing_reading = passing_reading_total_groupby["student_name"].count()/schoolname_group_by_df["student_name"].count() * 100

#% Overall Passing Rate
overall_passing_rate_by_school = (passing_math + passing_reading) /2

In [ ]:
#Top Performing Schools (By Passing Rate)

#    Sort and display the top five schools in overall passing rate

In [186]:
#    Create a dataframe to hold the above results

school_summary_df = pd.DataFrame({
                                    "Total Students" : student_count,
                                    "Total School Budget" : total_budget_per_school,
                                    "Per Student Budget" : school_budget_per_student,
                                    "Average Math Score" : mean_math_score,
                                    "Average Reading Score" : mean_reading_score,
                                    "% Passing Math" : passing_math,
                                    "% Passing Reading" : passing_reading,
                                    "% Overall Passing Rate" : overall_passing_rate_by_school
                                    })

school_summary_df['Total Students'] = school_summary_df['Total Students'].map("{:,}".format)
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].map("$ {:,}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].map("$ {:,.0f}".format)
school_summary_df

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,"4,976","$ 3,124,928",$ 628,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,"1,858","$ 1,081,356",$ 582,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,"2,949","$ 1,884,411",$ 639,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,"2,739","$ 1,763,916",$ 644,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,"1,468","$ 917,500",$ 625,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,"4,635","$ 3,022,020",$ 652,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$ 248,087",$ 581,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,"2,917","$ 1,910,635",$ 655,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,"4,761","$ 3,094,650",$ 650,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$ 585,858",$ 609,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,"3,999","$ 2,547,363",$ 637,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,"1,761","$ 1,056,600",$ 600,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,"1,635","$ 1,043,130",$ 638,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,"2,283","$ 1,319,574",$ 578,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,"1,800","$ 1,049,400",$ 583,83.682222,83.955000,93.333333,96.611111,94.972222

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.